.c-btn {
  &__primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary01;
    color: #fff;
    transition: opacity 0.3s ease-in-out;
    border-radius: 100px;
    font-size: 20px;
    padding: 12px 50px;

    @include media(tab02) {
      padding: 4px 20px;
      font-size: 18px;
      min-height: 40px;
    }

    @include media(tab03) {
      font-size: 16px;
    }

    &:hover {
      color: #fff;
      opacity: 0.7;
    }

    &.bg-sec {
      background-color: $secondary01;
    }

    &.btn-line {
      background-color: #fff;
      border: 1px solid $primary01;
      color: $primary01;
    }
  }

  &__round {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 100%;

    @include media(tab02) {
      width: 40px;
      height: 40px;
    }

    img {
      @include media(tab02) {
        width: 20px;
      }
    }

    &--text {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 26px;
      height: 26px;
      font-weight: 700;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary01;
      color: #fff;
    }
  }

  &__menu {
    position: relative;
    width: 40px;
    height: 34px;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $primary01;

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
  }

  &__cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

button {
  .c-btn__primary {
    font-size: 22px;
  }
}