.p-home {
  overflow: hidden;

  &__mv {
    padding: 132px 0 96px;
    background-color: rgb(107 145 66 / 10%);

    &--img {
      position: relative;

      &02 {
        position: relative;
        z-index: 1;
        animation: rotate 2s linear infinite alternate;
      }
    }

    &--icon {
      position: absolute;
      filter: blur(2.5px);
      pointer-events: none;

      &01 {
        top: 100px;
        left: -40px;
      }

      &02 {
        top: -55px;
        right: -70px;
      }
    }

    &--deli {
      top: -85px;
      left: 30%;
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 100%);
      backdrop-filter: blur(6px);
      padding: 18px 28px;
      border-radius: 8px;
      z-index: 4;

      @include media(pc01) {
        left: 45%;
      }

      @include media(tab03) {
        left: 35%;
      }

      @include media(sp) {
        top: -60px;
        padding: 10px 30px;
      }
    }

    &--text {
      &Right {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.3;

        @include media(tab03) {
          font-size: 20px;
        }
      }

      &Bottom {
        font-weight: 600;
        font-size: 21px;
        line-height: 1.3;
        color: #838383;

        @include media(tab03) {
          font-size: 16px;
        }
      }
    }
  }

  &__form {
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(57 108 3 / 30%);

    input {
      padding: 16px 20px 16px 74px;

      @include media(tab03) {
        font-size: 14px !important;
      }

      &::placeholder {
        color: #C7C7C7;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);

      @include media(tab03) {
        width: 36px;
      }
    }
  }

  &__ex {
    padding: 50px 0;
    background-color: rgb(255 139 0 / 5%);

    &--right {
      img {
        mix-blend-mode: darken;
        max-width: inherit;

        @include media(tab03) {
          max-width: 100%;
        }
      }
    }
  }

  &__service {
    padding: 105px 0;

    @include media(tab02) {
      padding: 60px 0;
    }

    &--item {
      padding: 60px 50px;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;

      @include media(pc02) {
        padding: 10px;
      }

      @include media(tab02) {
        margin-bottom: 30px;
      }

      &:hover {
        background-color: rgb(57 108 3 / 15%);
      }
    }
  }

  &__part {
    &--inner {
      position: relative;
      overflow: hidden;
      border-radius: 50px;

      @include media(tab03) {
        min-height: 400px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.25%, rgba(57, 108, 3, 0.71) 65.1%, #396C03 100%);
        z-index: 2;
      }
    }

    &--img {
      width: 100%;

      @include media(tab03) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
      }
    }

    &--title {
      font-weight: 700;
      font-size: 40px;
      line-height: 1.3;

      @include media(tab03) {
        font-size: 25px;
      }
    }

    &--intro {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.4;

      @include media(tab03) {
        font-size: 18px;
      }
    }

    &--box {
      bottom: 50px;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translateX(-50%);
      color: #fff;
      z-index: 2;
    }
  }

  &__faq {
    padding: 105px 0;

    @include media(tab02) {
      padding: 60px 0;
    }

    &--item {
      cursor: pointer;
      position: relative;
      padding: 22px 20px 22px 30px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      margin-bottom: 30px;
      transition: all 0.3s ease-in-out;

      @include media(tab02) {
        padding: 22px;
      }

      &:last-child {
        margin-bottom: 0;

        @include media(tab02) {
          margin-bottom: 30px;
        }
      }

      input {
        &:checked {
          ~.p-home__faq--content {
            max-height: 100vh;
            margin-top: 30px;
            visibility: visible;
          }

          ~.p-home__faq--icon {
            &::after {
              transform: translate(-50%, -50%) rotate(0);
            }
          }
        }
      }
    }

    &--title {
      font-weight: 500;
      font-size: 18px;
      line-height: 2;
      color: #000;

      @include media(tab02) {
        font-size: 16px;
      }
    }

    &--content {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.6;
      color: #525252;
      margin-top: 0;
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      transition: all 0.3s ease-in-out;

      @include media(tab02) {
        font-size: 14px;
      }
    }

    &--icon {
      position: absolute;
      top: 29px;
      right: 10px;
      width: 24px;
      height: 24px;
      border: 1px solid rgba(51, 51, 51, 0.3);
      border-radius: 100%;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 1px;
        background-color: #333;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
      }

      &:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__pocket {
    background-color: rgb(255 139 0 / 10%);
    padding: 40px 0;

    &--title {
      font-weight: 700;
      font-size: 40px;
      line-height: 1.3;

      @include media(tab03) {
        font-size: 25px;
      }
    }

    &--intro {
      font-size: 20px;
      line-height: 1.4;
    }

    &--img {
      border-radius: 30px;
    }
  }
}

:root {
  --delay: 0.3s;
}

.c-inv {
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transition-delay: var(--delay);

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}