.p-home {
  &__mv {
    padding: 132px 0 96px;
    background-color: rgb(107 145 66 / 10%);

    &--img {
      position: relative;

      &02 {
        position: relative;
        z-index: 1;
      }
    }

    &--icon {
      position: absolute;
      filter: blur(2.5px);
      pointer-events: none;

      &01 {
        top: 100px;
        left: -40px;
      }

      &02 {
        top: -55px;
        right: -70px;
      }
    }

    &--deli {
      top: -85px;
      left: 30%;
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 100%);
      backdrop-filter: blur(6px);
      padding: 18px 28px;
      border-radius: 8px;
      z-index: 4;
    }

    &--text {
      &Right {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.3;
      }

      &Bottom {
        font-weight: 600;
        font-size: 21px;
        line-height: 1.3;
        color: #838383;
      }
    }
  }

  &__form {
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(57 108 3 / 30%);

    input {
      padding: 16px 20px 16px 74px;

      &::placeholder {
        color: #C7C7C7;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
  }
}